@media only screen and (min-width: 0px)  {
 /* For mobile phones: */
   .project1, .project3, .project2{
     flex-wrap: wrap;
     width:60%;
     display: flex;
     margin: auto;
   }
 .projects{
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: space-around;
 }
 .project{


   box-shadow: 3px 3px 21px -4px rgba(0,0,0,0.75);
   margin-bottom:5%;
 }

 .caption1{
   text-align: center;
 }
 .text-effect{
   font-size: 100%;
 }

 .text-effect1{
   font-size: 50%;
 }

 .text-effect2{
   font-size: 70%;
 }


 .text-effect3{
   font-size: 40%;
   overflow: hidden;
 }


 /*
<!---
nexus 5x 412*732
ipad 768*1024
1440*900
-->
*/

@media only screen and (min-width: 500px){

 .project1,.project2{
   display: flex;
   flex-wrap: wrap;
   display: inline-block;
   margin-left: 20%;
 }
 .projects{
   margin: auto;
   width: 80%;
   justify-content: center;
 }

 .project1, .project2{
   width:20%;
   box-shadow: 3px 3px 21px -4px rgba(0,0,0,0.75);
   text-align: center;
   align-items: center;
   align-content: center;
   flex-direction: row;
 }
 .project3{
   width:40%;
   margin-top: 5%;
   margin-left: 30%;
 }

 .text-effect{
   font-size: 120%;
   font-family: Serif, sans-serif, serif;
   font-style: oblique;
 }

 .text-effect1{
   font-size: 80%;
 }

 .text-effect2{
   font-size: 100%;
 }


 .text-effect3{
   font-size: 50%;
   overflow: hidden;
 }

}


@media only screen and (min-width: 769px) {
 /* For mobile phones: */
 .project1,.project2, .project3{
   flex-wrap: wrap;
   width:20%;
   display: inline-block;
   margin: auto;
 }
 .projects{
   margin: auto;
   width: 90%;
 }

 .project1, .project2, .project3{

     box-shadow: 3px 3px 21px -4px rgba(0,0,0,0.75);
   margin-left:8%;
   align-items: center;
   align-content: center;
   flex-direction: row;
 }

 .text-effect{
   font-size: 200%;
   font-family: Serif, sans-serif, serif;
   font-style: oblique;
 }

 .text-effect1{
   font-size: 120%;
 }

 .text-effect2{
   font-size: 150%;
 }


 .text-effect3{
   font-size: 70%;
   overflow: hidden;
 }


}
